# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

data/**
app/out/**
!**/.gitkeep

build
?build
?build-mp
.*~
cmake/ConfigUser.cmake
cmake/ConfigUserAdvanced.cmake
share/coast
share/dcw
src/newsuppl*
**/gmt.history
doc/examples/**/*.mp4
doc/examples/**/*.png
doc/examples/**/*.gif